/*---------- 플리생활 시작 ----------*/

.flealiving_imgs_wrap {
  img {
    width: 100%;
  }
}

.flealiving_textarea {
  padding: 20px;

  .flealiving_title {
    padding-top: 10px;
    padding-bottom: 10px;

    .category_title {
      display: inline-block;
      color: #7574ff;
      font-size: 16px;
      border-bottom: 1px solid #7574ff;
    }

    p {
      font-size: 20px;
      padding-top: 10px;
      line-height: 1.2;
      word-wrap: break-word;
      margin-bottom: 5px;
    }
  }

  .flealiving_text_contents {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 270px;

    p {
      font-size: 14px;
    }
  }
}

/* 댓글 공통 ui */
.comments_area {
  padding: 0 20px;

  .comments_area_filter {
    padding: 15px 0;

    .ico-share-line {
      margin-top: 2px;
    }
  }

  .comments_area_tag {
    padding-bottom: 15px;

    .tag_text {
      font-size: 14px;
      line-height: 1.4;
      padding-bottom: 12px;
    }
  }

  .comments_area_list {
    padding-top: 15px;

    li {
      display: flex;
      align-items: flex-start;
      margin-bottom: 8px;
      width: 100%;
      word-break: break-word;
      overflow: hidden;

      .comments_area_profile {
        display: block;
        display: flex;
        align-items: center;
        flex: 0 0 auto;

        .profile_name {
          font-size: 13px;
          color: #1c1c1c;
          font-weight: bold;
          margin-right: 10px;
        }
      }

      .comments_area_comments {
        padding-top: 7px;
        font-size: 12px;
        line-height: 1.2;
        width: 100%;
        word-break: break-word;
      }
    }
  }

  .comments_area_more_veiw {
    padding: 20px 0;
  }
}

.comments_area_input_wrap {
  border-top: 1px solid #f5f5f5;
  padding: 0 20px;

  .emoticons_area {
    padding-top: 15px;
    display: flex;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;

    .ico-emoticons {
      font-style: normal;
      padding: 0 2px;
      margin-right: 20px;
    }
  }

  .comments_area_input_frame {
    padding: 15px 0;
    display: flex;
    align-items: flex-end;

    .profile_img_m_wrap {
      margin-right: 15px;
      margin-bottom: 12px;
      flex: 0 0 auto;
    }

    .input_wrap {
      flex: 1 1 auto;

      .btn-text {
        right: 20px;
        font-size: 14px;
        font-weight: 500;
        color: #acacac;

        &.on,
        &:hover {
          color: #ff7474;
        }
      }
    }
  }

  form {
    width: 100%;
  }

  &.out {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 100%;
    max-width: 768px;
    background-color: #fff;
  }
}

// M
@media screen and (max-width: 360px) {
  .flealiving_textarea {

    .flealiving_title {
      padding-top: 5px;
      padding-bottom: 5px;

      .category_title {
        font-size: 14px;
      }

      p {
        font-size: 18px;
      }
    }

    .flealiving_text_contents {
      padding-top: 15px;

    }
  }
}

/*---------- 플리생활 end ----------*/