/* 러블리마켓 */
.detail_sub_title_m {
  display: block;
  color: #1c1c1c;
  padding: 20px 20px 15px;
  font-size: 15px;

  @media screen and (max-width: 400px) {
    font-size: 14px;
  }
}

.market_top_btn_wrap {
  padding: 0 20px 15px;
}

.detail_title_wrap {
  display: block;
  padding: 20px 20px 15px;

  .detail_title_sub {
    color: #1c1c1c;
    display: block;
    font-size: 15px;
    padding-bottom: 3px;
  }

  .detail_title {
    color: #1c1c1c;
    display: block;
    font-size: 20px;
  }

  @media screen and (max-width: 767px) {
    .detail_title_sub {
      font-size: 12px;
    }

    .detail_title {
      font-size: 18px;
    }
  }
}

.market_banner_img_wrap {
  padding: 0 20px;
  position: relative;

  img {
    width: 100%;
  }

  .img_tag_tit {
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    height: 32px;
    line-height: 32px;
    font-size: 0;
    padding: 1px 15px;

    .where {
      display: inline-block;
      color: #fff;
      font-size: 13px;
      font-weight: bold;
      padding-right: 5px;
    }

    .date {
      display: inline-block;
      color: #fff;
      font-size: 13px;
      font-weight: normal;
    }
  }
}

// 입장권버튼 영역 
.ticket_btn_area {

  .ticket_btn_wrap {
    padding: 15px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .btn {
      width: 100%;
      height: 45px;
      line-height: 45px;
      border-radius: 5px;

      span {
        padding: 3px;
        font-size: 13px;
        line-height: 13px;
      }
    }

    .col_2 {
      width: calc(50% - 4px);
    }
  }

  .ticket_info {
    word-break: keep-all;
    color: #7b7b7b;
    font-size: 14px;
    padding: 0 20px;
  }
}

// 미리보기
.market_preview_area {
  padding: 0 20px;
  padding-bottom: 20px;
  overflow-x: scroll;

  .market_preview_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc((30% + 8px) * 5);

    li {
      width: calc(30% + 8px);

      .img_wrap {
        width: 100%;
        padding-right: 8px;
        display: block;

        img {
          border-radius: 5px;
          width: 100%;
        }
      }
    }
  }
}

// 지금까지의 러블리마켓
.past_market_list {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  li {
    width: calc(33.3333% - 4px);

    .past_market {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 5px;
      cursor: pointer;

      .img_wrap {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
      }

      img {
        height: 100%;

        @media screen and (max-width: 767px) {
          max-height: 136px;
        }
      }

      .past_market_tit {
        position: absolute;
        top: 20px;
        left: 15px;
        color: #fff;
        font-size: 16px;

        @media screen and (max-width: 767px) {
          font-size: 13px;
        }

        .text-B {
          display: block;
          color: #fff;
        }
      }

      .past_market_tag {
        position: absolute;
        right: 10px;
        bottom: 20px;
        line-height: 50px;
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 50%;
        background-color: #7574FF;
        opacity: 0.8;

        @media screen and (max-width: 767px) {
          line-height: 30px;
          width: 30px;
          height: 30px;
        }

        .tag_text {
          font-size: 14px;
          color: #fff;

          @media screen and (max-width: 767px) {
            font-size: 10px;
          }
        }
      }
    }
  }
}

.past_ticket_box {
  padding: 15px 20px 20px;
}

.line_pink {
  border: 1px solid #ff7474 !important;
}

.popup_footer {
  background-color: #f5f5f5;
  padding: 25px;
  margin: -20px;
  margin-top: 20px;

  .tit {
    display: block;
    font-size: 12px;
    color: #aaa;
    font-weight: 500;
    padding: 2px;
    padding-bottom: 5px;
  }

  .footer_list {
    li {
      line-height: 18px;
      padding: 2px;
      font-size: 12px;
      color: #aaa;
      word-break: break-word;

      .sub {
        display: block;
        padding-left: 8px;
        font-size: 12px;
        color: #aaa;
        word-break: break-word;
      }
    }
  }
}

.logo_animation_box {
  position: relative;
  overflow: hidden;
  margin: -20px;
  margin-top: 20px;

  .img_wrap {
    width: calc(410px * 3);
    display: flex;

    img {
      width: 100%;
    }
  }
}

.my_ticket_list_wrap {
  .ticket_tit {
    display: block;
    font-weight: bold;
    font-size: 15px;
    color: #1c1c1c;
    padding-bottom: 12px;

    .date {
      font-size: 12px;
      color: #aaa;
    }
  }
}

.my_ticket_list {

  li {
    padding-bottom: 12px;
    position: relative;

    .ticket_box_cover {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 12px;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 5px;
      z-index: 1;

      .txt {
        display: inline-block;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 14px;
      }
    }

    .ticket_box {
      padding: 12px;
      border: 1px solid #ff7474;
      border-radius: 5px;
      display: flex;
      width: 100%;

      .img_wrap {
        width: 55px;
        margin-right: 15px;

        img {
          width: 100%;
        }
      }

      .txt_wrap {
        width: calc(100% - 70px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .market_tit {
          font-weight: bold;
          font-size: 14px;
          color: #1c1c1c;
          display: inline-block;
        }

        .market_person {
          font-weight: normal;
          font-size: 14px;
          color: #1c1c1c;
          display: inline-block;

          .num {
            display: inline-block;
            color: #ff7474;
            font-weight: bold;
          }
        }

        .market_time {
          display: inline-block;
          color: #606060;
          font-size: 12px;
        }

        .btn {
          top: 12px;
          right: 0;
          min-width: 52px;

          &.on {
            background-color: #ff7474;

            span {
              color: #fff;
            }
          }
        }
      }

      &.gray_line {
        border: 1px solid #aaa;

        .market_person {

          .num {
            color: #1c1c1c;
          }
        }

      }
    }
  }
}

@media screen and (max-width: 400px) {
  .my_ticket_list {

    li {

      .ticket_box_cover {
        .txt {
          font-size: 13px;
        }
      }

      .ticket_box {

        .img_wrap {
          width: 50px;
          margin-right: 12px;
        }

        .txt_wrap {
          width: calc(100% - 62px);

          .market_tit {
            font-size: 12px;
          }

          .market_person {
            font-size: 12px;
          }

          .market_time {
            font-size: 11px;
          }

          .btn {
            font-size: 11px;
          }
        }
      }
    }
  }
}

//  추억속의 러블리마켓
.LMmarket_list {
  display: flex;
  flex-direction: column;
  align-items: center;

  li {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    .wrap_img {
      width: 100%;

      img {
        width: 100%;
      }
    }

    .txt_box {
      display: flex;
      width: 100%;
      align-items: center;
      flex-direction: column;
      padding: 30px 20px;

      .market_tit {
        font-size: 18px;
        color: #1c1c1c;
        display: inline-block;
        margin-bottom: 20px;
        position: relative;

        &:after {
          content: '';
          display: block;
          position: absolute;
          width: 20px;
          height: 2px;
          background-color: #1c1c1c;
          bottom: -8px;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      .market_place {
        display: inline-block;
        font-size: 14px;
        color: #606060;
        padding-bottom: 3px;
      }

      .market_date {
        display: inline-block;
        font-size: 12px;
        color: #aaa;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .LMmarket_list {
    li {
      .txt_box {
        padding: 25px;

        .market_tit {
          font-size: 15px;
        }

        .market_place {
          font-size: 12px;
        }

        .market_date {
          font-size: 11px;
        }
      }
    }
  }
}

// 실시간 러마톡
.top_title_wrap {
  .ico_refresh {
    transform: translateX(5px);
  }
}

.realtime_chat_box {
  .btn_wrap {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    position: relative;

    .ico-comu-write {
      position: absolute;
      bottom: 20px;
      right: 20px;
    }
  }
}

.realtime_chat_list {
  li {
    &:first-child {
      .chat_box {
        border-top: 1px solid #ddd;
      }
    }

    .chat_box {
      border-bottom: 1px solid #ddd;

      .chat_profile {
        padding: 10px 15px;
        background-color: #f8f8f8;
        display: flex;
        width: 100%;
        align-items: center;

        .img_wrap {
          width: 40px;
          height: 40px;
          border-radius: 10px;
          overflow: hidden;
          border: 1px solid #eee;

          img {
            width: 100%;
          }
        }

        .txt_box {
          width: calc(100% - 40px);
          height: 40px;
          padding-left: 12px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .name {
            font-size: 14px;
            font-weight: 500;
            color: #1c1c1c;
          }

          .date {
            font-size: 12px;
            color: #aaa;
            display: inline-block;

            .time {
              text-align: right;
              font-size: 12px;
              color: #aaa;
              display: block;
            }
          }
        }
      }

      .chat_contents {
        padding: 12px 15px;

        .txt_box {
          display: block;
          height: 32px;
          margin-bottom: 8px;
          overflow: hidden;
          line-height: 16px;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          font-size: 13px;
        }

        .img_list {
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: space-between;
          padding-bottom: 8px;

          img {
            width: calc((100% /5) - 3px);
            cursor: pointer;
          }
        }

        .btn_wrap_right {
          display: block;
          height: 30px;
        }
      }
    }
  }
}

// 러마톡 글쓰기
.img_list_tit {
  padding: 15px 20px 10px;

  .tit {
    font-size: 14px;
    font-weight: bold;
    color: #1c1c1c;
  }

  .sub {
    font-size: 12px;

    .num {
      color: #ff7474;
      font-weight: bold;
    }

    .total {
      color: #ccc;
    }
  }
}

.chat_input_img_wrap {
  width: 100%;
  overflow-x: scroll;

  .chat_input_img_list {
    padding: 20px;
    padding-top: 0;
    display: flex;
    width: calc(98px * 5);

    li {
      padding-right: 8px;

      .img_wrap {
        width: 90px;
        height: 90px;
        border-radius: 5px;
        border: 1px solid #eee;
        overflow: hidden;
        position: relative;

        .ico-img-delect-btn {
          position: absolute;
          right: 5px;
          top: 5px;
        }

        img {
          width: 100%;
        }
      }

      &.default_last {
        .img_btn {
          display: inline-block;
          width: 90px;
          height: 90px;
          border-radius: 5px;
          border: 1px dashed #eee;
          background-color: #fafafa;
          line-height: 90px;
          text-align: center;
        }
      }
    }
  }
}

// 실시간 러마톡 상세
.top_profile {
  display: block;
  padding-top: 6px;
  max-height: 42px;
  float: left;
  margin-left: 10px;
  width: 160px;

  .profile_img_wrap {
    float: left;
  }

  p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    float: left;

    span {
      display: inline-block;
      height: 14px;
      line-height: 18px;
    }

    .profile_time {
      padding-top: 1px;
    }
  }
}

.chat_box_detail {
  .chat_contents {
    padding: 15px 20px;
    padding-bottom: 0;

    .txt_box {
      display: inline-block;
      line-height: 16px;
      font-size: 13px;
    }

    .img_list {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      margin-top: 10px;

      img {
        width: calc((100% /5) - 3px);
        cursor: pointer;
      }
    }

  }
}

.padding-b-130 {
  padding-bottom: 130px;
}

.border-top-8 {
  border-top: 8px solid #f8f8f8;
}

//마켓 상세
.lm_market_detail {
  .category_tab_nav {
    transform: translateX(0);
  }

  .wrap_img {
    img {
      width: 100%;
    }
  }

  .market_info_box {
    margin: 20px 20px 0 20px;
    width: calc(100% - 40px);
    min-height: 185px;
    background-color: #f7f7f7;
    border-radius: 5px;
    overflow: hidden;

    .info_box_tit {
      display: block;
      background-color: #7574ff;
      padding: 8px 12px;
      height: 35px;
      color: #fff;
      font-size: 15px;
      font-weight: 500;
      line-height: 20px;
    }

    .info_box {
      .info_table {
        display: table;
        width: calc(100% - 24px);
        margin: 12px;
        margin-top: 5px;

        tr {
          border-bottom: 1px solid #eee;
        }

        th {
          font-size: 14px;
          font-weight: 500;
          color: #333;
          padding: 5px;
          text-align: left;
          vertical-align: baseline;
        }

        td {
          font-size: 14px;
          font-weight: normal;
          color: #333;
          padding: 5px;
        }
      }
    }
  }

  //지난 마켓
  .past_market_txt_box {
    padding: 25px;
    text-align: center;

    .date {
      display: inline-block;
      width: fit-content;
      color: #7574ff;
      font-size: 13px;
      border-bottom: 1px solid #7574ff;
      margin-bottom: 15px;
    }

    .txt {
      display: inline-block;
      width: 100%;
      color: #333;
      font-size: 13px;
      word-break: keep-all;
      white-space: pre-line;
      padding-bottom: 10px;
    }
  }

  .past_market_img_list {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;

    li {
      width: 100%;
      margin-bottom: 12px;
      text-align: center;

      .img_wrap {
        img {
          width: 100%;
        }
      }

      .txt_wrap {
        display: inline-block;
        font-size: 13px;
        padding-top: 12px;
        white-space: pre-line;
      }
    }
  }
}

.sellers_list_box {
  padding: 20px;

  li {
    padding-bottom: 15px;

    .sellers_box {
      position: relative;

      .logo_img_wrap {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        border: 1px solid #d8d8d8;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

      .sellers_txt_wrap {
        background-color: #f7f7f7;
        width: calc(100% - 20px);
        margin-left: 20px;
        height: 50px;
        border-radius: 15px;
        padding: 10px 25px;

        .name {
          display: block;
          font-size: 12px;
          font-weight: bold;
          color: #333333;
        }

        .txt {
          display: inline-block;
          width: 100%;
          font-size: 11px;
          color: #333333;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }
}

.lm_video_wrap {
  position: relative;

  .lm_video {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    color: #fff;
    opacity: 0.3;
  }
}

// 피드상세
.feed_text_area {
  padding: 20px;

  .feed_text_title {
    padding-top: 10px;
    padding-bottom: 10px;

    p {
      font-size: 18px;
      line-height: 1.2;
      word-wrap: break-word;
      color: #333;
      font-weight: 500;
      padding-bottom: 3px;
    }

    .date {
      display: block;
      color: #aaa;
      font-size: 12px;
      font-weight: 500;
      padding-bottom: 3px;
    }
  }

  .feed_text_contents {
    padding-top: 20px;
    padding-bottom: 20px;

    p {
      font-size: 14px;
      white-space: pre-line;
    }
  }

  .feed_img_contents {
    padding-bottom: 20px;

    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 400px) {
  .feed_text_area {

    .feed_text_title {
      padding-top: 5px;
      padding-bottom: 5px;

      p {
        font-size: 15px;
      }
    }

    .feed_text_contents {
      padding-top: 15px;

      p {
        font-size: 12px;
      }
    }

    .feed_img_contents {
      padding-bottom: 15px;
    }
  }
}

// 참여셀러 상세
.sellers_detail_top {
  width: 100%;
  background-color: #fafafa;
  padding: 8px 20px;
  height: 60px;
  position: relative;

  .img_wrap {
    width: 44px;
    height: 44px;
    border-radius: 18px;
    overflow: hidden;
    border: 1px solid #eee;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;

    img {
      width: 100%;
    }
  }

  .txt_wrap {
    padding-left: 60px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 6px;

    .tit {
      display: block;
      font-size: 13px;
      font-weight: 500;
      color: #333;
      padding-bottom: 2px;
    }

    .txt {
      display: block;
      font-size: 12px;
      color: #aaa;
      width: calc(100% - 40px);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .ico_back_gray_s {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
  }
}

.sellers_detail_tit {
  display: inline-block;
  width: 100%;
  padding: 40px 20px 20px;
  text-align: center;
  position: relative;

  &:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 2px;
    background-color: #333;
  }
}

.sellers_detail_img_list {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;

  li {
    width: 100%;
    margin-bottom: 12px;
    text-align: center;

    .img_wrap {
      img {
        width: 100%;
      }
    }

    .txt_wrap {
      display: inline-block;
      font-size: 13px;
      padding-top: 12px;
      white-space: pre-line;
    }
  }
}