/* 비로그인 팝업 */
.login_logo_img {
  display: inline-block;
  margin-top: 45px;
  width: 100%;
  text-align: center;
}

.login_popup_title_white {
  height: auto;
  display: inline-block;
  text-align: center;
  width: 100%;

  span {
    font-size: 25px;
    color: #fff;
    line-height: 35px;
    font-weight: 500;
    letter-spacing: 1px;
    position: relative;

    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      bottom: 1px;
      left: -2px;
      padding: 0 2px;
      width: 100%;
      height: 10px;
      opacity: 0.2;
      border-radius: 6px;
      background-color: #ff0143;
      z-index: -1;
    }
  }

}

.login_popup_title_white_sub {
  display: inline-block;
  width: 100%;
  font-size: 13px;
  font-weight: normal;
  color: #fff;
  text-align: center;
  padding-bottom: 20px;
}

.login_popup_btn_wrap {
  display: inline-block;
  width: 100%;
  text-align: center;

  .email_login_btn {
    margin-bottom: 20px;
    color: #ff7474;
    background-color: #fff;
    width: 190px;
    height: 44px;
    border-radius: 22px;
    line-height: 44px;

    .ico-mail-pink {
      display: inline-block;
      width: 20px;
      height: 20px;
      background: url(../image/ico-mail-pink.png)no-repeat center center;
      background-size: 20px 20px;
      margin-right: 5px;
    }
  }

  &.pink_line {
    .email_login_btn {
      border: 1px solid #ff7474;
    }
  }
}

.btn_wrap_sns {
  &.login {
    .btn {
      width: 48px;
      height: 48px;
      background-size: 48px 48px;
    }

    @media screen and (max-width: 400px) {
      .btn {
        width: 40px;
        height: 40px;
        background-size: 40px 40px;
      }
    }
  }
}

.login_popup_link_white {
  margin-top: 20px;
  display: inline-block;
  width: 100%;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
  text-align: center;
  text-decoration: underline;
  opacity: 0.8;
}

/* 비로그인 팝업 모바일 */
@media screen and (max-width: 400px) {
  .login_popup_title_white {
    span {
      font-size: 20px;
      line-height: 28px;
    }
  }

  .login_popup_title_white_sub {
    font-size: 12px;
    padding-bottom: 15px;
  }

  .login_popup_link_white {
    font-size: 13px;
  }
}

.rad-5 {
  border-radius: 5px;
}

.login_popup_title_sub {
  display: inline-block;
  width: 100%;
  font-size: 13px;
  font-weight: normal;
  color: #aaa;
  text-align: center;
  padding-bottom: 20px;

  &.info {
    font-size: 15px;
    text-align: left;
    color: #606060;

    span {
      color: #606060;
      display: block;
    }
  }
}

.login_popup_link {
  margin-top: 20px;
  display: inline-block;
  width: 100%;
  text-align: center;

  span {
    font-size: 12px;
    color: #aaa;
    opacity: 0.8;
  }

  button {
    padding: 0 15px;
    color: #aaa;
    font-size: 14px;
    font-weight: normal;
  }
}

/* 이메일 로그인 팝업 모바일 */
@media screen and (max-width: 400px) {
  .login_popup_title_sub {
    font-size: 12px;
  }

  .login_popup_link {
    margin-top: 20px;

    span {
      font-size: 10px;
    }

    button {
      font-size: 12px;
    }
  }
}

/* 회원가입 */
.list_tab_btn_dot {
  top: auto !important;
  bottom: 7px;
  right: 2px !important;

  li {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #ddd;
    margin-left: 3px;

    &.on {
      background-color: #ff7474;
    }
  }
}

.login_agree_list {
  display: block;
  padding: 12px 0;
}

.login_agree_box {
  .checkbox_wrap_right {
    width: 100%;
    padding: 8px 15px;
  }

  .login_top_agree_box {
    background-color: #fafafa;
    border-radius: 10px;
    padding: 15px;
  }

  .login_agree_tit {
    position: relative;
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    color: #aaa;
    text-decoration: underline;

    &.top_tit {
      font-size: 15px;
      color: #ff7474;
      text-decoration: none;
      font-weight: 500;
    }
  }

  i {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) !important;
    background-color: #fff !important;
    border: 1px solid #ccc;
  }

  input[type=checkbox]:checked+i {
    border: none;
    background: url(../image/ico-check-reck.png) no-repeat center center;
    background-size: 20px 20px;
  }

  span {
    position: absolute;
    top: 0;
    left: auto;
    color: #aaa;
    font-size: 12px;
    font-weight: normal;
    padding-left: 3px;
  }

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.btn_side_off {
  border: 1px solid #eee;
  color: #ccc;
}

.btn_side_on {
  border: 1px solid #ff7474;
  color: #ff7474;
}

.login_info_bottom {
  margin: 0 -20px;
  padding: 20px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background-color: #fafafa;

  .login_info_bottom_txt {
    color: #ccc;
    font-size: 12px;
  }

  .login_info_bottom_link {
    display: block;
    font-size: 12px;
    font-weight: normal;
    text-decoration: underline;
    color: #072053;
    padding-top: 10px;
  }
}

.popup_title_tab {
  strong {
    cursor: pointer;
  }

  .off {
    color: #ddd;
    font-weight: normal;
  }

  .popup_title+.popup_title {
    padding-left: 15px;
  }
}

.login_id_find_box {
  padding: 40px 0 60px;
  text-align: center;

  .ico-complete {
    width: 100%;
    margin-bottom: 25px;
  }

  .login_id_find_txt {
    display: inline-block;
    width: 100%;
    font-size: 15px;
    font-weight: normal;
    color: #1c1c1c;
    padding-bottom: 8px;
  }

  .login_id_find {
    display: inline-block;
    width: 100%;
    font-size: 17px;
    font-weight: bold;
  }

  .login_id_find_sns {
    padding-top: 15px;
    padding-bottom: 8px;

    .login_id_find_sns_list {
      margin: 0 auto;
      display: flex;
      width: calc((78px * 3) - 8px);
      justify-content: center;
      align-items: center;

      li {
        width: 70px;
        height: 20px;
        margin-right: 8px;
        background-color: #eee;
        border-radius: 10px;
        line-height: 20px;
        font-size: 13px;
        font-weight: 500;
        padding: 1px;

        &:last-child {
          margin-right: 0;
        }

        &.sns_facebook {
          background-color: #3c5ca9;
          color: #fff;
        }

        &.sns_kakao {
          background-color: #f9e000;
          color: #3c1e1e;
        }

        &.sns_naver {
          background-color: #1ec800;
          color: #fff;
        }
      }
    }
  }

  .btn_wrap {
    margin: 0 auto;
    margin-top: 20px;
    width: 50%;
  }
}

.login_passward_tit {
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}