@charset "UTF-8";

@import 'reset';
@import 'buttonComponent';
@import 'headerComponent';
@import 'orderSheet';
@import 'goodsDetail';
@import 'fleapopLiving';
@import 'coummunity';
@import 'myPage';
@import 'login';
@import 'lomapay';
@import 'search';
@import 'lmMarket';
// @import '';

//현파일을 커먼으로
/*---------- commons.css ----------*/

/*---------- reset ----------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spoqa Han Sans Neo', 'Spoqa Han Sans', sans-serif;
  vertical-align: middle;
  color: #333;
}

body {
  overflow: hidden;
}

.back-white {
  background: #fff;
}

.container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: #fff;
}

.scroll_area_section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0);
}

ul,
ol,
li {
  list-style: none;
}

a,
img,
fieldset {
  text-decoration: none;
  vertical-align: top;
  outline: 1;
  border: none;
}

button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

table,
th,
td {
  border-collapse: collapse;
}

input,
select,
textarea,
form,
label {
  vertical-align: top;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

button,
input[type=submit] {
  margin: 0;
  padding: 0;
  border: 0;
  color: inherit;
  cursor: pointer;
  background: transparent;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.not-pointer {
  cursor: default !important;
}

//커스텀 공통
/* 배경색 공통 */
.bg-white {
  background-color: white !important;
}

/* font-color 폰트색상 공통 */

.primary-1000 {
  color: $primary-1000 !important;
}

.primary-950 {
  color: $primary-950 !important;
}

.primary-900 {
  color: $primary-900 !important;
}

.primary-800 {
  color: $primary-800 !important;
}

.point-blue-dp {
  color: $point-blue-deeq !important;
}

.point-blue {
  color: $point-blue !important;
}

.point-green {
  color: $point-green !important;
}

.point-red {
  color: $point-red !important;
}

//gray color
.gray-900 {
  color: #a6a6a6 !important;
}

.gray-tag {
  color: #888 !important;
}

.gray-00 {
  color: #909090 !important;
}

//주요 글자 색상
.color-title {
  color: $color-title !important;
}

.color-default {
  color: $color-strong !important;
}

.color-sub {
  color: $color-sub !important;
}

.color-sub-m {
  color: $color-sub-m !important;
}

.color-sub-s {
  color: $color-sub-s !important;
}

/* 가격 색상 */

$color-num: #1c1c1c;

.color-num {
  color: $color-num !important;
}

$color-num-sub: #ccc;

.color-num-sub {
  color: $color-num-sub !important;
}

$color-num-sub2 : #a6a6a6;

.color-num-sub2 {
  color: $color-num-sub2 !important;
}

$color-num-point: #ff305d !important;

.color-num-point {
  color: $color-num-point !important;
}

$color-num-point2 : #ff0143;

.color-num-point2 {
  color: $color-num-point2 !important;
}

.color-c {
  color: $color-c !important;
}

.color-a {
  color: $color-a !important;
}

/* font-weight */
.text-B {
  font-weight: bold !important;
  vertical-align: baseline;
}

.text-M {
  font-weight: 500 !important;
  vertical-align: baseline;
}

.text-N {
  font-weight: normal !important;
  vertical-align: baseline;
}

/* 타이틀 */

.detail_sub_title {
  display: block;
  color: #1c1c1c;
  font-size: 18px;
  font-weight: bold;
  padding: 20px;
  padding-bottom: 15px;
  background-color: #fff;

  &.top_sub_title {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .detail_sub_title_num {
    font-weight: normal;
    color: #aaa;
    margin-left: 4px;
  }

  .sub_title_ico {
    font-style: normal;
    font-size: 15px;
    line-height: 16px;
  }
}

.detail_sub_title_s {
  display: block;
  color: #1c1c1c;
  padding: 15px 20px;
  font-size: 15px;
}

.detail_sub_title_ss {
  display: block;
  font-weight: 500;
  color: #1c1c1c;
  font-size: 14px;
  padding: 12px 0;
}

.detail_sub_title_sub {
  display: block;
  font-weight: normal;
  color: #606060;
  font-size: 12px;
}


@media screen and (max-width: 767px) {

  .detail_sub_title {
    font-size: 16px;
    padding: 18px;
  }

  .detail_sub_title_s {
    font-size: 13px;
  }
}

/* 영역 분할 선 */
.division_bold {
  width: 100%;
  height: 8px;
  background-color: $gray-bg-8;
}

.division_line {
  width: 100%;
  height: 1px;
  background-color: #eeeeee;
}

.division_line_f {
  width: calc(100% - 40px);
  height: 1px;
  margin: 0 20px;
  background-color: #fafafa;
}

.division_line_text {
  width: 1px;
  height: 10px;
  transform: translateY(4px);
  background-color: #ebebeb;
}


/* 선택된 영역 하단 선 & 텍스트 */
.on_black {
  color: #1c1c1c !important;
  font-weight: bold !important;
}

.on_black_line {
  border-bottom: 2px solid #333 !important;
  font-weight: 500 !important;

  button,
  p,
  span {
    color: #1c1c1c !important;
    font-weight: 500 !important;
  }
}

.on_pink_line {
  border-color: #ff7474 !important;

  button,
  p,
  span {
    color: #ff7474 !important;
  }
}

/* 기타 공통 */

.floatclear:after {
  content: '';
  display: block;
  clear: both;
}

.text_ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.text_ellipsis_20 {
  display: inline-block;
  width: 230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.view_more_type1 {
  color: #ccc;
  font-size: 12px;
  margin: 8px 0;
  cursor: pointer;
}

.view_more_type2 {
  color: #ccc;
  font-size: 12px;
  cursor: pointer;
  padding-left: 5px;
}

.hide {
  position: absolute;
  top: -9999px;
  opacity: 0;
}

/* 체형 택 (회색 배경) */
.body_profile_tag {
  display: inline-block;
  background-color: #fafafa;
  padding: 4px 10px;
  border-radius: 5px;
  line-height: 1;

  p,
  i {
    font-size: 13px;
    color: #606060;
    display: inline-block;
  }

  i {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #606060;
    margin: 0 4px;
  }
}

.margin-t-60 {
  margin-top: 60px !important;
}

.margin-t-40 {
  margin-top: 40px !important;
}

.margin-b-40 {
  margin-bottom: 40px !important;
}

.margin-t-30 {
  margin-top: 30px !important;
}

.margin-t-20 {
  margin-top: 20px !important;
}

.margin-b-20 {
  margin-bottom: 20px !important;
}

.margin-t-15 {
  margin-top: 15px !important;
}

.padding-b-0 {
  padding-bottom: 0 !important;
}

.margin-b-15 {
  margin-bottom: 15px !important;
}

.margin-t-10 {
  margin-top: 10px !important;
}

.margin-t-5 {
  margin-top: 5px !important;
}

.margin-b-0 {
  margin-bottom: 0px !important;
}

.margin-b-10 {
  margin-bottom: 10px !important;
}

.margin-b-12 {
  margin-bottom: 12px !important;
}

.margin-r-5 {
  margin-right: 5px !important;
}

.margin-r-10 {
  margin-right: 10px !important;
}

.margin-r-20 {
  margin-right: 20px !important;
}

.margin-l-20 {
  margin-left: 20px !important;
}

.margin-l-10 {
  margin-left: 10px !important;
}

.padding-l-20 {
  padding-left: 20px !important;
}

.padding-t-0 {
  padding-top: 0 !important;
}

.padding-t-10 {
  padding-top: 10px !important;
}

.padding-t-12 {
  padding-top: 12px !important;
}

.padding-t-15 {
  padding-top: 15px !important;
}


.padding-t-20 {
  padding-top: 20px !important;
}

.padding-t-30 {
  padding-top: 30px !important;
}

.padding-b-0 {
  padding-bottom: 0px !important;
}

.padding-b-5 {
  padding-bottom: 5px !important;
}

.padding-b-10 {
  padding-bottom: 10px !important;
}

.padding-b-15 {
  padding-bottom: 15px !important;
}

.padding-b-20 {
  padding-bottom: 20px !important;
}

.padding-b-30 {
  padding-bottom: 30px !important;
}

.padding-b-60 {
  padding-bottom: 60px !important;
}

.padding-b-80 {
  padding-bottom: 80px !important;
}

.padding-r-30 {
  padding-right: 30px;
}

@media screen and (min-width: 500px) {
  .margin-t-20-r {
    margin-top: 20px !important;
  }
}

@media screen and (max-width: 360px) {
  .margin-t-20-r {
    margin-top: 15px !important;
  }
}

.padding-20 {
  padding: 20px !important;
}

.margin-20 {
  margin: 20px !important;
}

/* ------ 콘텐츠 영역 ------- */
.contents_area {
  background-color: $gray-bg-7;
  padding-top: 42px;
  min-height: 100vh;

  .contents_wrap {
    max-width: 768px;
    margin: 0 auto;
    background-color: #fff;
    min-height: calc(100vh - 42px);

    &.gray {
      background-color: $gray-bg-7;
    }

    &.search_wrap {
      min-height: 100vh;
    }
  }

  &.comu_top {
    padding-top: 92px;

    @media screen and (max-width: 440px) {
      padding-top: 88px;
    }
  }

  &.market_top {
    padding-top: 50px;
  }

  &.comu_top_life {
    padding-top: 200px;
  }
}

/* ------  display: none  ------ */
.dis-off {
  display: none;
}

/* ------ 모바일에서만 보이게 ------ */
@media screen and (min-width: 768px) {
  .display_only_mobile {
    display: none !important;
  }
}

/* ------ 모바일사이즈가 아닐떄 보이게 ------ */
@media screen and (max-width: 767px) {
  .display_only_pc {
    display: none !important;
  }
}

/* 인풋 스타일 */
input:read-only,
textarea:read-only,
input:disabled,
textarea:disabled,
select:disabled {
  color: #aaa !important;
  background-color: #fff;
}

input::placeholder {
  opacity: 1;
  color: #ccc !important;
}

textarea::placeholder {
  opacity: 1;
  color: #ccc !important;
}

input::-webkit-input-placeholder {
  color: #ccc !important;
}

.input_wrap {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;

  .input_title {
    display: block;
    height: 16px;
    font-size: 12px;
    color: #aaa;
  }

  .input_underline_type {
    border: none;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #eee;
    padding: 16px 0;
    font-size: 16px;
  }

  .input_roundbox_type {
    height: 42px;
    width: 100%;
    padding: 11px 16px 11px 16px;
    border-radius: 21px;
    border: solid 1px #dddddd;
  }

  .input_roundbox_type_row {
    padding: 0 16px;
    border-radius: 21px;
    border: solid 1px #dddddd;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;

    textarea {
      display: flex;
      width: 95%;
      align-items: center;
      resize: none;
      max-height: 90px;
      height: 42px;
      border: none;
      padding: 12px 0;
    }
  }

  &.btn_wrap_right {
    input {
      padding-right: 55px !important;
    }
  }

  .input_alert {
    opacity: 0;
    font-size: 12px;
    padding-top: 6px;
    color: $point-red;
  }

  &.on {
    .input_underline_type {
      border-bottom: 1px solid $point-red;
    }

    .input_alert {
      opacity: 1;
    }
  }
}

.input_btn_wrap {
  display: flex;
  justify-content: space-between;

  .input_wrap {
    width: 70%;
  }

  .input_side_btn {
    display: block;
    padding: 16px 10px;
    height: 100%;
    margin-left: 10px;
    margin-top: 16px;
    width: 30%;
    border-radius: 5px;
    font-size: 13px;
  }
}

// M
@media screen and (max-width: 360px) {
  .input_wrap {
    .input_title {
      font-size: 12px;
    }

    .input_underline_type {
      padding: 15px 0;
      font-size: 14px;
    }

  }

  .input_btn_wrap {
    .input_wrap {
      width: 60%;
    }

    .input_side_btn {
      width: 40%;
    }
  }
}

/* 셀렉트 박스 */
.select_boxline_type {
  appearance: none;
  width: 100%;
  border: 1px solid #ddd;
  color: #1c1c1c;
  border-radius: 5px;
  padding: 16px 12px;
  font-size: 14px;
  line-height: 14px;
  background: #fff url(../image/icon-down-arrow@2x.png)no-repeat right 12px center;
  background-size: 15px 15px;

  &::-ms-expand {
    display: none;
  }

  &:focus {
    border: 1px solid #ff7474;
  }

  option {
    display: none;
    opacity: 0;
  }

  &.in_popup {
    option {
      display: block;
      opacity: 0;
    }
  }
}

.select_linenone_type {
  appearance: none;
  font-weight: normal;
  padding-right: 12px;
  font-size: 14px;
  border: none;
  line-height: 14px;
  background: #fff url(../image/ico-selet-arrow2.png)no-repeat right 0px top;
  background-size: 10px 10px;
  color: #606060;
  right: 20px !important;
  cursor: pointer;

  option {
    display: none;
    opacity: 0;
  }

  &.round_line {
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 6px 22px 5px 10px;
    background: #fff url(../image/ico-selet-arrow2.png)no-repeat right 8px center;
  }

  &.round_line_gray {
    height: 28px;
    width: 100%;
    min-width: 60px;
    font-size: 13px;
    border: 1px solid #ddd;
    border-radius: 28px;
    padding: 7px 22px 7px 12px !important;
    background: #fff url(../image/ico-selet-arrow2.png)no-repeat right 8px center;
  }
}

/* 블러 효과 */
.blur {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(6px);
}

/* 팝업 */

.background-popup {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}

.popup_option_wrap {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 768px;
  max-height: 70vh;
  overflow: auto;
  min-height: 100px;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px 15px 0 0;
  z-index: 5;

  &.login_pink_bg {
    background-image: linear-gradient(179deg, #ff9a8b 1%, #ff6a88 51%, #ff99ac 99%);
  }

  .popup_content_wrap {
    .popup_title {
      font-size: 16px;
      height: auto;
      line-height: 23px;
      display: inline-block;
      margin-bottom: 15px;

      &.center {
        font-size: 18px;
        list-style: 1.4;
        color: #333;
        font-weight: normal;
        text-align: center;
        width: 100%;
        margin-top: 35px;
        margin-bottom: 30px;
      }

      .sub_txt_red {
        font-size: 15px;
        color: #f5450c;
      }
    }

    .popup_appinfo_title_sub {
      width: 100%;
      font-size: 13px;
      font-weight: normal;
      display: inline-block;
    }

    .goods_option_wrap {
      max-height: 300px;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
    }

    .goods_option {
      width: 100%;
      border: 1px solid #eee;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      color: #606060;
      margin-bottom: 15px;

      .goods_option_dtail {
        padding: 10px;
        font-size: 14px;
        border-bottom: 1px solid #eee;
        word-break: keep-all;
      }

      .btn_count_wrap {
        display: flex;
        justify-content: space-between;

        .count_area {
          padding: 10px;

          .btn-count {
            display: inline-block;
            padding: 1px 5px;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            border: 1px solid #aaa;
            position: relative;

            &:after {
              content: '';
              display: block;
              height: 1px;
              width: 7px;
              background-color: #999;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }

            &.plus {
              &:before {
                content: '';
                display: block;
                height: 7px;
                width: 1px;
                background-color: #999;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }
          }

          .btn-count-num {
            padding: 3px 5px;
            font-size: 14px;
          }

          &.right {
            span {
              font-size: 16px;
              font-weight: bold;
            }

            .ico-delete {
              transform: translate(0px, -1px);
              opacity: 0.8;
            }
          }
        }
      }
    }

    .in_popup_total {
      text-align: right;
      padding: 20px;
      font-size: 18px;

      .price {
        font-size: 25px;
        padding-left: 10px;
        font-weight: 500;
        color: #ff7474
      }
    }

    .ico-close {
      transform: translateY(0);
    }

    .ico-close-white {
      transform: translateY(0);
    }

    .btn_wrap_sns {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 35px;

      .btn {
        margin-right: 15px;

        &:last-of-type {
          margin-right: 0px;
        }
      }
    }

    .popup_btn_wrap {
      &.col_2 {
        display: flex;
        justify-content: space-between;
        text-align: center;

        .btn {
          width: calc(50% - 6px);
        }

        .txt_box {
          width: 50%;
          padding: 15px 20px;
          margin-bottom: 30px;

          .tit {
            font-size: 15px;
            font-weight: 500;
            display: block;
          }

          .txt {
            font-size: 14px;
            font-weight: normal;
            word-break: keep-all;
          }

          &:first-child {
            border-right: 1px solid #eee;
          }
        }
      }
    }

    .popup_txt_box {
      .tit_sub {
        font-size: 12px;
        color: #606060;
        display: block;
        text-align: center;
        padding-bottom: 2px;
        word-break: keep-all;
      }

      .tit {
        display: block;
        text-align: center;
        font-size: 15px;
        color: #1c1c1c;
        padding-bottom: 15px;
      }
    }

    .notfind_GPS {
      display: block;
      width: 100%;
      text-align: center;
      font-size: 12px;
      font-weight: 500;
      color: #f5450c;
      word-break: keep-all;
    }
  }
}

.popup_option_wrap_btn {
  width: 100%;
  max-width: 728px;
  position: fixed;
  bottom: 0;
  transform: translateX(-50%);
  left: 50%;
  min-height: 100px;
  z-index: 5;
  padding: 0 40px;

  .popup_btn_round_wrap {
    margin-bottom: 20px;

    .popup_btn_round {
      display: block;
      width: 100%;
      height: 52px;
      background-color: #fff;
      border-radius: 52px;
      padding: 20px;
      display: flex;
      align-items: center;

      span {
        margin-left: 12px;
        font-size: 15px;
        line-height: 1;
        padding-top: 3px;
      }

      .btn-ico {
        right: 20px
      }
    }

    .ico-bottom-plus-close {
      margin: 0 auto;
      margin-top: 40px;
    }
  }

  .popup_btn_wrap {
    margin-bottom: 15px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;


    .popup_btn {
      display: block;
      height: 52px;
      width: 100%;

      span {
        font-size: 14px;
        line-height: 52px;
      }

      &+.popup_btn {
        border-top: 1px solid #eee;
      }
    }
  }

  //중앙 알람 버튼 팝업 
  .popup_info_wrap {
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    max-width: 600px;

    .popup_info_text {
      padding: 30px;

      .popup_info_text_title {
        display: block;
        font-size: 16px;
        color: #1c1c1c;
        padding-bottom: 15px;
      }

      .popup_info_text_contents {
        font-size: 14px;
        color: #333;
      }
    }

    .popup_info_btn_wrap {
      border-top: 1px solid #eee;
      text-align: center;

      .popup_info_btn {
        border-right: 1px solid #eee;
        display: block;
        font-size: 14px;
        font-weight: bold;
        padding: 15px;
        float: left;
        width: 100%;

        &.col_2 {
          width: 50%;
        }

        &:last-child {
          border-right: 1px solid transparent;
        }
      }
    }
  }

  &.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: fit-content;
  }

  @media screen and (max-width: 414px) {
    &.center {
      padding: 0 30px;
    }

    //중앙 알람 버튼 팝업 
    .popup_info_wrap {
      .popup_info_text {
        padding: 20px;

        .popup_info_text_title {
          font-size: 15px;
          padding-bottom: 5px;
        }

        .popup_info_text_contents {
          font-size: 12px;
        }
      }

      .popup_info_btn_wrap {

        .popup_info_btn {
          padding: 12px;
        }
      }
    }
  }
}

.background-popup-black {
  background-color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}

// 이미지 팝업
.popup_option_wrap-img {
  position: fixed;
  top: 10%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 100%;
  max-width: 768px;
  min-height: 100px;
  padding: 20px;
  z-index: 5;

  .popup_content_wrap {
    .img-count {
      display: inline-block;
      margin-top: 5px;

      span {
        color: #aaa;
        font-size: 15px;
        padding: 0;

        &.count {
          color: #fff;
        }
      }
    }

    .popup_img_list {
      padding-top: 30px;

      .img_list {
        height: 100%;
        position: relative;

        li {
          position: absolute;
          width: 100%;

          img {
            width: 100%;
          }
        }
      }
    }
  }

}

.popup_comupick_wrap {
  width: 100%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  z-index: 5;
  padding: 0 40px;

  .img_pickduck {
    margin: auto;
    display: block;
    width: 199px;
    height: 256px;
    background: url(../image/img-pickduck@2x.png)no-repeat center center;
    background-size: 199px 256px;
  }

  .btn {
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    border: 1px solid #eee;
    width: 132px;
    height: 42px;
    border-radius: 42px;
    line-height: 1.4;
    background-color: rgba(255, 255, 255, 0.15);

    span {
      font-size: 13px;
      font-weight: 500;
      color: #eaeaea;
    }

  }

}

@media screen and (max-width: 414px) {
  .popup_option_wrap {
    .popup_content_wrap {
      .popup_title {
        font-size: 15px;
        margin-bottom: 15px;

        &.center {
          font-size: 16px;
          margin-bottom: 20px;
        }
      }

      .btn_wrap_sns {
        margin-bottom: 35px;

        .btn {
          margin-right: 10px;
        }
      }

      .in_popup_total {
        font-size: 15px;

        .price {
          font-size: 22px;
        }
      }

      .popup_btn_wrap {
        &.col_2 {
          display: flex;
          justify-content: space-between;

          .btn {
            width: calc(50% - 6px);
          }
        }
      }

    }
  }

  .popup_option_wrap_btn {

    .popup_btn_round_wrap {
      margin-bottom: 10px;

      .popup_btn_round {
        height: 42px;
        border-radius: 42px;
        display: flex;
        align-items: center;

        span {
          margin-left: 8px;
          font-size: 14px;
          line-height: 1;
        }
      }

      .ico-bottom-plus-close {
        margin-top: 30px;
      }
    }
  }

  // 이미지 팝업
  .popup_option_wrap-img {
    padding: 0px;

    .popup_content_wrap {
      .btn_wrap_float {
        padding: 20px;

        span {
          font-size: 13px;
        }
      }

      .popup_img_list {
        padding-top: 50px;

        .img_list {
          height: 100%;
        }
      }
    }

  }
}

// 텍스트 팝업
.popup_alert {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 5;
  transform: translateX(-50%);

  .popup_alert_box {
    display: inline-block;
    background-color: #072053;
    opacity: 0.9;
    min-height: 52px;
    text-align: center;
    line-height: 26px;
    padding: 15px 20px;
    border-radius: 52px;

    .popup_alert_txt {
      display: block;
      font-size: 14px;
      width: 100%;
      color: rgba(255, 255, 255, 0.8);
    }
  }
}

@media screen and (max-width: 375px) {
  .popup_alert {

    .popup_alert_box {
      min-height: 42px;
      line-height: 16px;
      border-radius: 42px;

      .popup_alert_txt {
        font-size: 12px;

        &.wid-140 {
          min-width: 140px;
        }
      }
    }
  }
}


/* 텍스트 박스 */
.text_area_box {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 12px;
  padding-bottom: 32px;
  height: 160px;

  .textarea_boxline_type {
    width: 100%;
    height: 128px;
    line-height: inherit;
    resize: none;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border: transparent;

    &::placeholder {
      color: #aaa;
    }
  }

  .textarea_sub {
    position: absolute;
    right: 20px;
    bottom: 8px;
    color: #aaa;
    font-size: 11px;
    display: flex;
    align-items: center;

    .textarea_sub_num {
      color: #1c1c1c;
      padding-right: 4px;
    }
  }

  &.box_h_50 {
    height: 76px;

    .textarea_boxline_type {
      height: 36px;
    }
  }

  &.edit_profile {
    height: 54px;
    border-radius: 0;

    .textarea_boxline_type {
      height: 30px;
    }
  }

  &.none_line {
    border: none;
    height: fit-content;
    padding: 20px;

    .textarea_boxline_type {
      display: inline-block;
      height: calc(100vh - 300px);
      white-space: pre-line;
    }
  }
}

@media screen and (max-width: 767px) {
  .text_area_box {
    height: 140px;

    .textarea_boxline_type {
      width: 100%;
      height: 100px;
    }
  }

}

// M
@media screen and (max-width: 360px) {
  .text_area_box {
    height: 100px;

    .textarea_boxline_type {
      width: 100%;
      height: 60px;
    }
  }
}


/* 라디오 체크 박스 */
.checkbox_wrap {
  position: relative;
}

$size: 13px;

input {

  &[type=checkbox],
  &[type=radio] {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
    padding: 0;

    +label {
      position: relative;
      height: $size;
      cursor: pointer;
      font-size: 14px;

      &:before {
        box-sizing: border-box;
        display: inline-block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #eee;
        margin-right: 8px;
        transform: translateY(2px);
        content: '';
      }
    }

    &:disabled {
      +label {
        color: #aaa;

        &:before {
          border-color: #aaa;
        }
      }
    }
  }

  &[type=checkbox],
  &[type=radio] {
    &:checked {
      +label {
        &:before {
          background: url(../image/icon-check-circle.png) no-repeat center center;
          background-size: 20px 20px;
        }
      }
    }
  }

  &.checkbox_square {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
    padding: 0;

    +label {
      position: relative;
      height: 13px;
      cursor: pointer;
      font-size: 14px;

      &:before {
        box-sizing: border-box;
        display: inline-block;
        width: 16px;
        height: 16px;
        border-radius: 4px;
        background-color: #eee;
        margin-right: 8px;
        transform: translateY(2px);
        content: '';
      }
    }

    &:checked {
      +label {
        &:before {
          background: url(../image/ico-check-reck.png)no-repeat center center !important;
          background-size: 20px 20px;
        }
      }
    }

  }
}

/* 체크박스 오른쪽 배치 */
.checkbox_wrap_right {
  float: right;

  label {
    font-size: 13px;
    color: #606060;
    position: relative;
    cursor: pointer;
    display: inline-block;
  }

  i {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    background-color: #eee;
    margin-left: 4px;
    transform: translate(1px, -1px);
  }

  input[type=checkbox]:checked+i {
    background: url(../image/ico-check-reck.png) no-repeat center center;
    background-size: 20px 20px;
  }

}

/* 팝업 체크박스 */

.radio_option_wrap {
  max-height: 300px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.radio_option {
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;

  label {
    font-size: 14px;
    color: #333;
    position: relative;
    cursor: pointer;
    display: block;
    width: 100%;

    .radio_text {
      color: #aaa;

      &.on {
        color: #333;
      }
    }
  }

  i {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #eee;
    margin-right: 8px;
    transform: translateY(2px);
    position: absolute;
    right: 0;
  }

  input[type=radio]:checked+i {
    background: url(../image/icon-check-circle.png) no-repeat center center;
    background-size: 20px 20px;
  }

}

/* 팝업 내부 스크롤 셀렉트 */
.scroll_option_wrap {
  padding: 30px 20px;
  position: relative;

  .select_scroll_list {
    overflow-y: scroll;
    height: calc(44px * 5);

    li {
      height: 44px;
      text-align: center;
      cursor: pointer;

      span {
        color: #909090;
        font-size: 13px;
        line-height: 44px;

        &.deadline {
          color: #ddd !important;
        }
      }

      &.on {
        span {
          font-size: 14px;
          color: #ff7474;
          font-weight: bold;
        }
      }

      &.off {
        span {
          font-size: 12px;
          color: #aaa;
        }
      }
    }
  }

  &:after {
    content: '';
    display: block;
    right: 20px;
    left: 20px;
    border-radius: 5px;
    height: 44px;
    background-color: #ff7474;
    opacity: 0.1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

/* 아코디언 형 리스트 공통 */
.arcodian_list {

  .arcodian_title {
    padding: 12px 20px;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    cursor: pointer;

    .arcodian_contents_title {
      display: inline-block;
      font-size: 15px;
      color: #1c1c1c;
      font-weight: 500;
      margin-right: 30px;
      //padding-bottom: 2px;
    }

    .arcodian_contents_qna_top {
      display: flex;
      margin-bottom: 4px;

      .qna_top_state {
        font-size: 12px;
        font-weight: bold;
        letter-spacing: -0.15px;
        color: #ccc;
        margin-right: 8px;
      }

      .qna_top_time {
        font-size: 11px;
        letter-spacing: -0.15px;
        color: #909090;
        margin-left: 5px;
      }
    }

    .arcodian_contents_qna_title {
      display: inline-block;
      font-size: 15px;
      color: #1c1c1c;
      font-weight: 500;
      padding-right: 30px;
      margin-bottom: 4px;
      line-height: 20px;
      width: 100%;
      height: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: break-word;

      &.sub {
        font-size: 14px;
        color: #7b7b7b;
      }
    }

    .right {
      float: right;
    }

    .arcodian_contents_imgntext {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 3px 0;

      .goods_contents_img_wrap {
        width: 58px;
        height: 58px;
        border-radius: 5px;
        overflow: hidden;
        border: 1px solid #eee;
        margin-right: 10px;
        flex: 0 0 auto;

        img {
          width: 100%;
        }
      }

      .arcodian_contents_imgntext_tit {
        display: flex;
        flex-direction: column;
        width: calc(100% - 68px);
      }
    }
  }

  .arcodian_contents_box {
    padding: 20px;
    background-color: #fafafa;
    border: 1px solid #eee;
    border-top: 1px solid transparent;

    &.profile_boxs {
      &:after {
        content: '';
        display: block;
        clear: both;
      }

      .arcodian_contents_img_wrap {
        float: left;
        display: flex;
        align-items: center;
      }

      .arcodian_contents_img {
        margin-right: 8px;
        border-radius: 10px;
        width: 24px;
        height: 24px;
        overflow: hidden;
        text-align: center;

        // &+.ico {
        // }
        img {
          width: 100%;
        }

        &+img {
          border: 1px solid #eee;
        }
      }

      .arcodian_contents_text {
        float: left;
        width: calc(100% - 32px);
        white-space: normal;
        word-break: break-all;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
      }
    }

    p {
      font-size: 13px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.8;
      letter-spacing: -0.18px;
      color: #606060;
      word-wrap: break-word;
      width: 100%;
    }

    .contents_box_list {
      li {
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.8;
        letter-spacing: -0.18px;
        word-wrap: break-word;
        width: 100%;

        .left {
          float: left;
          width: 30%;
          font-size: 13px;
          color: #606060;
        }

        .right {
          float: right;
          text-align: left;
          width: 70%;
          font-size: 13px;
          color: #606060;
        }

        &:after {
          content: '';
          display: block;
          clear: both;
        }
      }
    }

    .arcodian_contents_qus {
      color: #1c1c1c;
      font-size: 14px;
      line-height: 1.4;
      word-wrap: break-word !important;
      white-space: pre-line;
      width: 100%;
    }

    .arcodian_contents_time {
      color: #909090;
      font-size: 12px;
      padding-top: 8px;
      width: 100%;
    }

    .arcodian_contents_name {
      display: block;
      font-size: 13px;
      font-weight: bold;
      color: #1c1c1c;
      padding: 4px 0 8px;
      width: 100%;
    }
  }

  .btn_arrow_toggle {
    right: 20px;
  }

  li {
    &.off {
      .arcodian_title {
        //border-bottom: 1px solid #eee;
        transition: all 0.3s;

        .ico_arrow_toggle {
          transition: all 0.3s;
          transform: rotate(-180deg) translateY(5px);
        }
      }

      .arcodian_contents_wrap {
        height: 0;
        overflow: hidden;
        transition: all 0.3s;
        padding: 0;
      }
    }
  }

  &.order_sheet {

    .arcodian_title {
      padding: 18px 20px;
      background-color: $gray-bg-8;
      border-right: 1px solid #eee;
      border-left: 1px solid #eee;

      .arcodian_contents_title {
        margin-right: 5px;
      }

      .arcodian_contents_title_sub {
        font-size: 12px;
        color: $primary-800;
      }
    }

    // 주문서 아코디언 컨텐츠
    .arcodian_contents_wrap {
      padding: 20px;

      .contents_side_text {
        padding-bottom: 8px;

        span {
          font-size: 14px;
          letter-spacing: -0.1px;
          color: #606060;
        }

        .right {
          float: right;
          color: #333333;
        }

        a.right {
          float: right;
          font-size: 13px;
          color: #ccc;
          text-decoration: underline;
        }
      }

      p.division_line {
        margin-bottom: 8px;
      }
    }
  }

  .arcodian_list_more_veiw {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #aaa;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
  }

  &.white_type_list {
    li {
      &.on {
        .btn_wrap_right {
          .ico_arrow_toggle_15 {
            transform: rotate(-180deg) translateY(5px);
          }
        }
      }
    }

    .arcodian_title {
      padding: 15px 20px;
      background-color: #fff;
      border-bottom: 1px solid #eee;
      border-top: 1px solid transparent;

      .arcodian_contents_title {
        font-weight: normal;
        width: calc(100% - 65px);

        &.sub {
          padding-top: 4px;
          font-size: 12px;
          font-weight: normal;
        }
      }
    }

    .arcodian_contents_box {
      padding: 20px;
      background-color: #fff;
      border: 1px solid transparent;

      .FAQ_arcodian_contents {
        word-wrap: break-word;
        white-space: pre-line;
        width: 100%;
      }
    }

  }
}

@media screen and (max-width: 767px) {
  .arcodian_list {

    .arcodian_title {
      padding: 12px 20px;

      .arcodian_contents_title {
        font-size: 14px;
      }

      .arcodian_contents_qna_top {

        .qna_top_state {
          font-size: 12px;
        }

        .qna_top_time {
          font-size: 11px;
        }
      }

      .arcodian_contents_qna_title {
        font-size: 13px;
        margin-bottom: 0;

        &.sub {
          font-size: 12px;
        }
      }
    }

    .arcodian_contents_box {
      p {
        font-size: 11px;
      }

      .contents_box_list {
        li {
          .left {
            font-size: 11px;
          }

          .right {
            font-size: 11px;
          }
        }
      }

      .arcodian_contents_qus {
        font-size: 12px;
      }

      .arcodian_contents_time {
        font-size: 11px;
      }

      .arcodian_contents_name {
        font-size: 12px;
      }
    }

  }
}

// M
@media screen and (max-width: 360px) {

  .goods_detail_review_list {
    li {
      &:last-child {
        padding-bottom: 60px;
      }
    }
  }

  .goods_detail_QnA {
    padding-bottom: 60px;
  }

  .goods_detail_orderinfo {
    padding-bottom: 60px;
  }
}

.goods_list {
  li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 8px 0;

    .goods_list_img_wrap {
      width: 88px;
      height: 88px;
      border-radius: 5px;
      overflow: hidden;
      border: 1px solid #eee;
      margin-right: 20px;
      flex: 0 0 auto;

      img {
        width: 100%;
      }
    }

    .goods_list_text_area {
      display: flex;
      flex-direction: column;
      width: calc(100% - 108px);

      p {
        word-break: break-word;
        width: 100%;
      }

      .goods_list_title {
        padding-top: 3px;
        font-size: 15px;
        color: #1c1c1c;
      }

      .goods_list_sub_tit {
        padding-top: 3px;
        font-size: 15px;
        color: #777;
      }

      .goods_list_option {
        display: flex;
        align-items: center;
        padding: 3px 0;

        .goods_list_tag {
          width: 30px;
          border-radius: 10px;
          display: inline-block;
          background-color: #fceaea;
          text-align: center;

          span {
            padding: 2px 0 1px 0;
            font-size: 11px;
            font-style: normal;
            color: #ff7474;
          }
        }

        .goods_list_tag_tit {
          font-size: 12px;
          padding-top: 1px;
          padding-left: 5px;
          color: #909090;
        }
      }

      .goods_list_price {
        span {
          padding-right: 4px;
          font-size: 16px;
        }

        .goods_price_sub {
          color: #ccc;
          text-decoration: line-through;
        }

        .goods_price_point {
          font-weight: bold;
          color: #ff305d;
        }

        .goods_price_main {
          font-weight: bold;

        }
      }
    }
  }
}

// M
@media screen and (max-width: 400px) {
  .goods_list {
    li {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #eee;
      padding: 8px 0;

      .goods_list_img_wrap {
        width: 64px;
        height: 64px;
        margin-right: 15px;
      }

      .goods_list_text_area {
        width: calc(100% - 96px);

        .goods_list_title {
          padding-top: 0;
          font-size: 12px;
        }

        .goods_list_sub_tit {
          padding-top: 0;
          font-size: 12px;
        }

        .goods_list_option {
          padding: 1px 0;

          .goods_list_tag {

            span {
              font-size: 11px;
            }
          }
        }

        .goods_list_price {
          span {
            padding-right: 3px;
            font-size: 14px;
          }

        }
      }
    }
  }
}

/* 이미지 리스트 */
.imgs_list {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  li {
    width: calc(50% - 10px);
    margin-bottom: 20px;

    .imgs_list_frame {
      display: block;
      width: 100%;
      text-align: left;
      border: 1px solid #eee;
      border-radius: 10px;
      overflow: hidden;

      .imgs_content_wrap {
        width: 100%;

        img {
          width: 100%;
        }
      }

      .imgs_text_title_area {
        padding: 15px 20px;
        max-width: 354px;

        .category_title {
          display: inline-block;
          color: #7574ff;
          font-size: 14px;
          border-bottom: 1px solid #7574ff;
        }

        p {
          font-size: 15px;
          padding-top: 10px;
          line-height: 14px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          word-wrap: break-word;
          margin-bottom: 5px;
        }
      }
    }

  }
}

// M
@media screen and (max-width: 600px) {
  .imgs_list {
    li {
      width: 100%;
    }
  }
}

/* 배송정보 카드 */
.delivery_place_card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;

  .delivery_top {
    display: flex;
    justify-content: space-between;

    .delivery_place {
      font-size: 15px;
      color: #606060;
    }

    .delivery_top_btn {
      display: inline-block;

      span {
        display: inline-block;
        padding-top: 2px;
      }
    }
  }

  .delivery_name {
    font-size: 16px;
    font-weight: bold;
    padding: 6px 0;
  }

  .delivery_address,
  .delivery_address_detail {
    display: inline-block;
    font-size: 14px;
    line-height: 19px;
  }

  .delivery_tell {
    padding-top: 8px;
    font-size: 15px;
  }

  .delivery_bottom {
    padding-top: 15px;

    .delivery_bottom_btn {
      display: block;
      width: 68px;
      height: 30px;
      border: 1px solid #ddd;
      border-radius: 5px;
      float: left;
      text-align: center;
      line-height: 30px;
      font-size: 13px;
      font-weight: 500;
      cursor: pointer;
      margin-right: 8px;
    }
  }
}

/* 배송정보 카드 리스트 */
.delivery_place_card_list {
  padding: 0 20px;
  padding-top: 30px;

  li {
    padding-bottom: 20px;

    &.on {
      .delivery_place_card {
        border: 1px solid #ff7474;
      }
    }

    &.off {
      .delivery_place_card {
        .delivery_name {
          color: #aaa;
        }

        .delivery_address,
        .delivery_address_detail {
          color: #aaa;
        }

        .delivery_tell {
          color: #aaa;
        }
      }
    }
  }
}

.delivery_place_add {
  padding: 0 20px;

  .delivery_place_add_btn {
    background-color: #f5f5f5;
    border-radius: 5px;
    height: 62px;
    padding: 20px;
    display: block;
    width: 100%;
    border: 1px dashed #eee;

    span {
      display: inline-block;
      height: 15px;
      font-size: 15px;
      font-weight: 500;
      color: #606060;
    }
  }
}

@media screen and (max-width: 414px) {
  .delivery_place_card {

    .delivery_top {
      display: flex;
      justify-content: space-between;

      .delivery_place {
        font-size: 15px;
      }
    }

    .delivery_address,
    .delivery_address_detail {
      font-size: 13px;
    }

    .delivery_tell {
      font-size: 13px;
    }

    .delivery_bottom {

      .delivery_bottom_btn {
        width: 48px;
      }
    }
  }

  .delivery_place_card_list {
    padding: 0 15px;
    padding-top: 20px;

    li {
      padding-bottom: 15px;

    }
  }

  .delivery_place_add {
    padding: 0 15px;

    .delivery_place_add_btn {
      height: 60px;

      .ico-plus-circle-add {
        width: 18px;
        height: 18px;
        // background-size: 13px 13px;
      }

      span {
        height: 14px;
        font-size: 14px;
      }
    }
  }
}

/* 프로필 이미지 */
.profile_img_s_wrap {
  width: 24px;
  height: 24px;
  overflow: hidden;
  margin-right: 8px;
  border-radius: 10px;
  cursor: pointer;

  img {
    width: 100%;
  }
}

.profile_img_wrap {
  display: block;
  width: 28px;
  height: 28px;
  overflow: hidden;
  margin-right: 8px;
  border-radius: 10px;
  cursor: pointer;

  img {
    width: 100%;
  }
}

.profile_img_m_wrap {
  width: 42px;
  height: 42px;
  border: 1px solid #eee;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;

  img {
    width: 100%;
  }
}

.profile_img_xl_wrap {
  width: 60px;
  height: 60px;
  border: 1px solid #eee;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  flex: 0 0 auto;

  img {
    width: 100%;
  }
}


/* 등록된것이 없을 경우 컨텐츠 */
.empty_contents {
  position: relative;
  background-color: #fff;
  max-width: 768px;
  height: 100%;
  min-height: 200px;
  margin: 0 !important;
  padding: 0 !important;

  .empty_contents_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    .empty_contents_ico {
      display: block;
      margin: 0 auto 15px;
      width: 36px;
      height: 36px;
      background: url(../image/ico-empty-face.png)no-repeat center center;
      background-size: 36px 36px;
    }

    .empty_contents_text {
      font-size: 15px;
      color: #aaaaaa;
    }

    .empty_contents_btn {
      margin-top: 10px;
      display: inline-block;
      padding: 7px 15px;
      height: 30px;
      line-height: 1.4;
      border: 1px solid #ffb1b1;
      border-radius: 5px;
      color: #ffb1b1;
      font-size: 12px;
      font-weight: 500;

      .btn-goto-circle-pink {
        display: inline-block;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .empty_contents {
    position: relative;
    background-color: #f8f8f8;

    .empty_contents_wrap {
      .empty_contents_text {
        font-size: 13px;
        color: #aaaaaa;
      }
    }
  }
}

/* 토글버튼 */
.toggle_btn_wrap {
  width: 100%;
  max-width: 77px;
  background-color: #ddd;
  height: 28px;
  border-radius: 28px;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  .toggle_btn_switch {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 8px 0 rgba(118, 118, 118, 0.4);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  span {
    color: #fff;
    font-size: 12px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  &.off {
    .toggle_btn_switch {
      left: 5px
    }

    .toggle_text_off {
      right: -5%;
      opacity: 1;
    }
  }

  &.on {
    background-color: #00e3a3;

    .toggle_btn_switch {
      right: 5px;
    }

    .toggle_text_off {
      opacity: 0;
    }

    .toggle_text_on {
      opacity: 1;
      right: 17%;
    }
  }

  &.on_pink {
    background-color: #ff7474;

    .toggle_btn_switch {
      right: 5px;
    }

    .toggle_text_off {
      opacity: 0;
    }

    .toggle_text_on {
      opacity: 1;
      right: 17%;
    }
  }
}

/* 사이트 텍스트 컨텐츠 */
.contents_side_text_wrap {
  padding: 0 20px;

  .contents_side_text {
    padding: 8px 0;

    span {
      font-size: 14px;
      letter-spacing: -0.1px;
      color: #606060;
    }

    .right {
      float: right;
      color: #333333;
    }

    .total {
      font-size: 16px;
      font-weight: 500;
    }

    &:last-child {
      padding-bottom: 25px;
    }
  }

  p.division_line {
    margin-bottom: 8px;
  }
}


/* 후기 상세 */
.review_area_wrap {
  padding: 25px;

  p {
    margin-top: 8px;
    width: 100%;
    word-break: break-word;

    span {
      display: inline-block;
      font-size: 14px;
    }
  }

  .recommendations {
    padding: 4px 0;
    font-size: 20px;
    display: inline-block;
    font-weight: bold;
    color: #1c1c1c;
  }

  .option_title {
    color: #aaa;
    width: 50px;
  }

  .option_contents {
    i {
      display: inline-block;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background-color: #606060;
      margin: 0 3px;
    }
  }

  .review_details_text {
    font-size: 13px;
    line-height: 1.4;
    color: #1c1c1c;

    .point-blue-dp {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 767px) {
  .review_area_wrap {
    padding: 20px;

    p {
      margin-top: 4px;

      span {
        font-size: 12px;
      }
    }

    .recommendations {
      padding: 2px 0;
      font-size: 18px;
    }

    .option_title {
      width: 40px;
    }

  }
}

.top_text_banner {
  margin-top: 42px;
  color: #606060;
  font-size: 12px;
  text-align: center;
  width: 100%;
  word-break: break-word;
  padding: 12px 20px;
  background-color: #fafafa;
}

/* ---------- commons.css end ---------- */