<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>  </title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
    <div class="container">
        <div class="top_title">
            <div class="top_title_wrap floatclear">
                <button class="ico ico-close top_left">
                </button>

            </div>
        </div>
        <section class="scroll_area_section">
            <div class="contents_area">
                <div class="contents_wrap">

                    <!-- 러마페이 비밀번호 설정 -->
                    <form action="">
                    <div class="lomapay_passward_box">
                        <span class="lomapay_passward_logo">
                            <img src="./assets/image/ico-lmpay-g.png" alt="">
                        </span>
                        <strong class="lomapay_passward_tit">
                            비밀번호 입력
                            <!-- {{ 새로운 비밀번호 입력 }} -->
                            <!-- {{ 비밀번호 재입력 }} -->
                        </strong>
                        <span class="lomapay_passward_sub">
                            설정했던 결제 비밀번호를 입력해주세요.
                            <!-- {{ 결제시 사용할 결제 비밀번호를 입력해주세요. }} -->
                            <!-- {{ 다시 한번 입력해주세요. }} -->
                        </span>

                        <ul class="lomapay_passward_input">
                            <!-- 인풋값 입력 감지시 li에 클래스 on추가 -->
                            <li class="on">
                                <input class="lomapay_passward" type="password" value="" size="1" maxlength="1">
                            </li>
                            <li>
                                <input class="lomapay_passward" type="password" value="" size="1" maxlength="1">
                            </li>
                            <li>
                                <input class="lomapay_passward" type="password" value="" size="1" maxlength="1">
                            </li>
                            <li>
                                <input class="lomapay_passward" type="password" value="" size="1" maxlength="1">
                            </li>
                        </ul>
                        
                        <button class="lomapay_passward_link">
                            비밀번호를 잊으셨나요?
                        </button>
                    </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- 하단 팝업 (비밀번호찾기)  
            <div class="background-popup"></div>
            <div class="popup_option_wrap">
                <div class="popup_content_wrap">
                    <div class="btn_wrap_left">
                        <button class="btn ico-popup-back"></button>
                    </div>
                    
                    <strong class="popup_title margin-t-40">
                        러마페이 비밀번호 초기화
                    </strong>
                    <form action="">
                    인풋 얼럿(빨간글씨) 노출시 클래스 on
                    <div class="input_wrap btn_wrap_right margin-t-30">
                        <span class="input_title">
                            아이디(이메일)
                        </span>
                        <input class="input_underline_type" type="text" title="아이디(이메일)" placeholder="아이디(이메일)" value="">
                            인풋 아이콘
                       <i class="btn ico-eye-on">
                        </i>
                        <i class="btn ico-eye-off">
                        </i> 
                        <i class="btn ico-textclear">
                        </i>
                        <p class="input_alert">
                            이메일 주소를 입력해 주세요.
                        </p>
                    </div>

                    <div class="input_btn_wrap btn_wrap_right">
                        인풋 얼럿(빨간글씨) 노출시 클래스 on
                        <div class="input_wrap">
                            <span class="input_title">
                                휴대폰번호
                            </span>
                            <input class="input_underline_type" type="text" title="휴대폰번호" placeholder="휴대폰번호"  value="">
                            <p class="input_alert">
                                휴대폰번호를 입력해 주세요.
                            </p>
                        </div>

                        입력시 클래스 btn_side_off -> btn_side_on
                        <button class="input_side_btn btn_side_off" type="button">
                            인증번호
                           {{ 다시받기 }} 
                        </button>
                    </div>
                    인풋 얼럿(빨간글씨) 노출시 클래스 on
                    <div class="input_wrap btn_wrap_right">
                        <span class="input_title">
                            인증번호 4자리
                        </span>
                        <input class="input_underline_type" type="text" title="인증번호 4자리" placeholder="인증번호 4자리" value="" maxlength="4">
                        
                        <p class="input_alert">
                            이메일 주소를 입력해 주세요.
                        </p>
                    </div>
                    </form>
                    <div class="btn_wrap margin-t-60">
                        버튼 클릭시 클래스 on
                        <button type="submit" class="btn btn_wid_100 rad-5 btn_pink">
                            확인
                        </button>
                    </div>
                </div>
            </div> -->
        <!-- //하단 팝업 (비밀번호찾기) -->   

        <!-- 중앙 알람 버튼 팝업 
        <div class="background-popup"></div>
        <div class="popup_option_wrap_btn center">
            <div class="popup_info_wrap">
                <div class="popup_info_text">
                    <p class="popup_info_text_contents">
                        설정하신 비밀번호와 다릅니다.
                    </p>
                    <p class="popup_info_text_contents">
                        다시 입력해 주세요.
                    </p>
                </div>
                <div class="popup_info_btn_wrap floatclear">
                    <button class="popup_info_btn">
                        확인
                    </button>
                </div>
            </div>
        </div> -->
        <!-- //중앙 알람 버튼 팝업  -->
        <!-- 중앙 알람 버튼 팝업 
        <div class="background-popup"></div>
        <div class="popup_option_wrap_btn center">
            <div class="popup_info_wrap">
                <div class="popup_info_text">
                    <p class="popup_info_text_contents">
                        비밀번호가 저장 되었습니다.
                    </p>
                    <p class="popup_info_text_contents">
                        감사합니다.
                    </p>
                </div>
                <div class="popup_info_btn_wrap floatclear">
                    <button class="popup_info_btn">
                        확인
                    </button>
                </div>
            </div>
        </div> -->
        <!-- //중앙 알람 버튼 팝업  -->
          <!-- 중앙 알람 버튼 팝업 
          <div class="background-popup"></div>
          <div class="popup_option_wrap_btn center">
              <div class="popup_info_wrap">
                  <div class="popup_info_text">
                      <p class="popup_info_text_contents">
                        이전에 입력한 신규 비밀번호와
                      </p>
                      <p class="popup_info_text_contents">
                       동일한 비밀번호를 입력해주세요.
                      </p>
                  </div>
                  <div class="popup_info_btn_wrap floatclear">
                      <button class="popup_info_btn">
                          확인
                      </button>
                  </div>
              </div>
          </div> -->
          <!-- //중앙 알람 버튼 팝업  -->

    </div>
</body>

</html>